---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=e0252f5c0e218ca79da23c1071d66bca&q=Los%20Angeles&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-118.2437,"lat":34.0522},"weather":[{"id":741,"main":"Fog","description":"fog","icon":"50n"}],"base":"stations","main":{"temp":14.12,"feels_like":13.62,"temp_min":11.49,"temp_max":16.95,"pressure":1013,"humidity":78,"sea_level":1013,"grnd_level":993},"visibility":805,"wind":{"speed":3.6,"deg":110},"clouds":{"all":100},"dt":1740559441,"sys":{"type":2,"id":2034962,"country":"US","sunrise":1740579910,"sunset":1740620807},"timezone":-28800,"id":5368361,"name":"Los
        Angeles","cod":200}'
  recorded_at: Wed, 26 Feb 2025 08:44:01 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=e0252f5c0e218ca79da23c1071d66bca&q=New%20York&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-74.006,"lat":40.7143},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":6.34,"feels_like":2.34,"temp_min":4.98,"temp_max":7.21,"pressure":1012,"humidity":70,"sea_level":1012,"grnd_level":1011},"visibility":10000,"wind":{"speed":6.69,"deg":280},"clouds":{"all":0},"dt":1740574384,"sys":{"type":1,"id":4610,"country":"US","sunrise":1740569664,"sunset":1740609822},"timezone":-18000,"id":5128581,"name":"New
        York","cod":200}'
  recorded_at: Wed, 26 Feb 2025 13:02:36 GMT
recorded_with: VCR 6.3.1
